<app-header></app-header>

<br>

<div class="container">

    <h1>Configuración de Proyecto</h1>  

    <hr><br>
  
    <div class="col-sm-12 col-md-6 col-bg-4">
        <label>Cantidad de Carbón a ser extraído (en Kg):</label>
        <input class="form-control form-control-md" type="text" name="Cantidad" [(ngModel)]="cantCarbon" placeholder="Cantidad KG">
        <br>
    </div>
  
    <br>

    <button class="btn btn-primary" (click)="updateProyecto()">Modificar</button>

</div>

<br>

<app-footer></app-footer>