<br>
  <div class="container">
    <div class="row">
      <h1>Compras a aliados</h1>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccionar Aliado</label>
          <select class="form-control col-md-4" id="exampleFormControlSelect1">
            <option>CVG</option>
            <option>Minerven</option>
            <!--<option>Bauxita</option>
            <option>Diamante</option>
            <option>Cal</option>-->
            </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Seleccionar mineral</label>
          <select class="form-control col-md-5" id="exampleFormControlSelect1">
            <option>Carbon</option>
            <option>Oro</option>
            <option>Bauxita</option>
            <option>Diamante</option>
            <option>Cal</option>
          </select>
        </div>
        <input class="form-control form-control-md col-md-4 " type="text" placeholder="Cantidad (Kg)">
        <br>
        <button type="button" class="btn btn-primary">Agregar</button>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <button type="button" class="btn btn-success">Confirmar</button>
        <br/><br><br>
      </div>

      <div class="col-md-8 col-sm-12">
        <h5>Vista Previa de Facturación</h5>
        <div class="container">
          <div class="row justify-content-center text-center" style="background-color:darkgray">
            <p>SENIAT<br>RIF N°. J-30926957-7<br>TechFirst & Associated<br>Av. Fco Lazo Marti Edif. Mayoral plaza<br>Telf: 0212-4074407</p>
          </div>
          <div class="row justify-content-around text-center">
            <div class="col-4">
              <p>Producto</p>
              <p>Carbon</p>
              <p>Oro</p>
              <hr/>
              <p>Total</p>
            </div>
            <div class="col-4">
              <p>Cant.(Kg)</p>
              <p>5</p>
              <p>2.4</p>
              <hr>
            </div>
            <div class="col-4">
              <p>Precio Unit.($/Kg)</p>
              <p>$1000</p>
              <p>$30000</p>
              <hr>
              <p>$77000</p>
            </div>
          </div>
          <div class="row justify-content-center text-center" style="background-color:darkgray">
            <p><br>FACTURA<br>N°: 7298<br></p>
          </div>
        </div>
      </div>
    </div>                            
  </div>