<br>

<div class="container">
  <div class="row">
    <h1>Registro de Usuario</h1>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-bg-4">
      <input class="form-control form-control-md" type="text" placeholder="Primer nombre">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Segundo nombre">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Cedula">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Correo">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Clave">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Rol">
      <br>
      <button type="button" class="btn btn-primary">Registrar</button>
    </div>
  </div>

</div>