<app-header></app-header>
<br>


<div class="container">
  
  

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>        
        <th>Agregar al Carrito</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mineral of minerales">
        <td>{{ mineral.id }}</td>
        <td>{{ mineral.nombre }}</td>        
        <td>
          <input #canti class="form-control form-control-md" type="text" placeholder="Cantidad en Kg">
            <button (click)="agregarMineral(mineral, canti.value); canti.value=''" class="links"><i class="fas fa-plus-circle px-1"></i>Agregar
            </button>              
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <br>

  
    <button *ngIf="vista == ''" class="links" (click)="gotoAgregarMineral()">
      <p><i class="fas fa-plus-circle px-1" style="font-size: 30px"></i> Agregar Nuevo Mineral</p>        
    </button>

    <div>
      <button class="btn btn-primary" (click)="gotoInicio()">
          Cambiar Aliado
      </button>
      
      <button class='btn btn-primary' (click)="FactPrev()" style="margin-left: 5px">
          Visualizar factura previa
      </button>
    </div>
    
    
    

</div>

<br>

<app-footer></app-footer>