<section id="footer" style="background-color:darkgray">
  <br>
  <div class="col-md-12 text-center">
    <h2>MinerUCAB</h2><br>
  </div>
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/inicio" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Inicio</a></li>
          <li><a routerLink="/yacimientos/list" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Yacimientos</a></li>
          <li><a routerLink="/aliados/list" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Nuestros Aliados</a></li>          
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Administración</h5>
        <ul class="list-unstyled quick-links">
          <li><button class="links"><i class="fa fa-angle-double-right"></i>Empleados</button></li>
          <li><button class="links"><i class="fa fa-angle-double-right"></i>Yacimientos</button></li>
          <li><a routerLink="/reportes" routerLinkActive="active"><i class="fa fa-angle-double-right"></i>Reportes</a></li>      
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Compras/Ventas</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Clientes</a></li>
          <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Aliados</a></li>
        </ul>
      </div>
    </div>
      
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h6>Universidad Católica Andrés Bello</h6>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
        <h6 class="h6"><i class="far fa-copyright"></i> All right Reversed.<a class="text-green ml-2" routerLink="/inicio" routerLinkActive="active">TechFirst</a></h6>
      </div>
      <hr>
    </div>	
  </div>
</section>