<br>

<div class="container">
  <div class="row">
    <h1>Configuración de Explotación de Yacimientos</h1>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-bg-4">
      <h2 class="py-2">Agregar Yacimiento</h2>
      <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>-Seleccione un yacimiento-</option>
            <option>Yacimiento Y1-Barinas</option>
            <option>Yacimiento Y2-Zulia</option>
            <option>Yacimiento Y3-Aragua</option>
          </select>
      </div>
      
      <hr><br>

      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#etapa" role="button" aria-expanded="false" aria-controls="collapseExample">
          Agregar etapa
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 5px">
          Eliminar etapa
        </button>
      </p>
      <div class="collapse" id="etapa">
        <input type="text" class="form-control" placeholder="Nombre de la Etapa" aria-label="Nombre" aria-describedby="button-addon1"><br>
          <a class="btn btn-primary" data-toggle="collapse" href="#fase" role="button" aria-expanded="false" aria-controls="collapseExample">
            Agregar Fase
          </a>
      </div>

      <div class="collapse" id="fase">
        <br><input type="text" class="form-control" placeholder="Nombre de la Fase" aria-label="Nombre" aria-describedby="button-addon1"><br>
          <input type="text" class="form-control" placeholder="Duración (meses)" aria-label="Nombre" aria-describedby="button-addon1"><br>
                            <p>Trabajadores:</p><hr>
                            Geólogos
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Geólogos especialistas
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Ayudantes de campaña
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Choferes
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Muestreros
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Ayudantes de laboratorio de análisis
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Portamiras
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Cocineros
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Técnicos supervisores
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Perforistas
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Ayudantes (general)
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            Jefe de proyecto
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>1</option>                                                                         
                                    </select>
                            </div>
                            Coordinador general
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>1</option>                                      
                                    </select>
                            </div>
                            Consultores (ingenieros, economistas u otros especialistas)
                            <div class="input-group mb-3">
                                    <select class="custom-select" id="inputGroupSelect02">
                                      <option selected>0</option>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                    </select>
                            </div>
                            <button type="button" class="btn btn-primary">Agregar</button>
                    </div>
                  
                    <br>
                    <hr>
                    <button type="button" class="btn btn-success">Confirmar</button>
                    <button type="button" class="btn btn-primary" style="margin-left: 5px">Cancelar</button>
                  
                  
              </div>
              
      
                <div class="col-sm-12 col-md-6 col-bg-4">
                    <h5>Vista Previa</h5>
                    <div class="container">
                      <div class="row justify-content-center text-center" style="background-color:darkgray">
                        <p>EXPLOTACION DE YACIMIENTO<br> Yacimiento: (NOMBRE) </p>
                      </div>
                      <div class="row  justify-content-around">
                        <div class="col-12">
                          <br>  
                          <h2>Etapa 1: Nombre de la etapa 1</h2>
                          <ul>
                              <li><h4>Fase 1: Nombre</h4></li>
                                <ul>
                                    <li>Duración: n meses</li>
                                    <li>Geólogos: 4</li>
                                    <li>Choferes: 3</li>
                                </ul>
                              <li><h4>Fase 2: Nombre</h4></li>
                                <ul>
                                    <li>Duración: n meses</li>
                                    <li>Geólogos: 4</li>
                                </ul>
                              <li><h4>Fase 3: Nombre</h4></li>
                                <ul>
                                    <li>Duración: n meses</li>
                                    <li>Geólogos: 4</li>
                                </ul>
                          </ul>
                          <hr>
                          <h2>Etapa 2: Nombre de la etapa 2</h2>
                          <ul>
                                <li><h4>Fase 1: Nombre</h4></li>
                                    <ul>
                                        <li>Duración: n meses</li>
                                        <li>Geólogos: 4</li>
                                    </ul>
                                <li><h4>Fase 2: Nombre</h4></li>
                                    <ul>
                                        <li>Duración: n meses</li>
                                        <li>Geólogos: 4</li>
                                    </ul>
                            </ul>
                          <hr>
                          <h2>Etapa 3: Nombre de la etapa 3</h2>
                          <ul>
                            <li><h4>Fase 1: Nombre</h4></li>  
                                <ul>
                                    <li>Duración: n meses</li>
                                    <li>Geólogos: 4</li>
                                </ul>                             
                          </ul>
                          <hr/>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
<br>