<br>

<div class="container">
  <div class="row">
    <h1>Registro de Empleado</h1>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-bg-4">
      <input class="form-control form-control-md" type="text" placeholder="Cédula">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Primer Nombre">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Primer Apellido">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Dirección">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="teléfono">
      <br>
      <input class="form-control form-control-md" type="text" placeholder="Cargo">
      <br>
      <button type="button" class="btn btn-primary">Registrar</button>
    </div>
  </div>
</div>