<app-header></app-header>
<br>

<div class="container">
    
    <h1>Carrito</h1>

    <hr><br>

    <p>A continuación se presenta una vista previa de facturación.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="row justify-content-center text-center" style="background-color:darkgray">
                <p>SENIAT<br>RIF N°. J-30926957-7<br>TechFirst & Associated<br>Av. Fco Lazo Marti Edif. Mayoral plaza<br>Telf: 0212-4074407</p>
            </div>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Presentación</th>
                    <th>Cantidad</th>                    <th></th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody></tbody>
                <tr *ngFor="let mineral of minerales">
                    <td>{{mineral.mineral}}</td>
                    <td>{{mineral.tipoPresentacion}}</td>
                    <td>{{mineral.cantPresentacion}}</td>                    <th></th>
                    <td>${{mineral.costo}}</td>
                </tr>
            </tbody>
        </table>
                
        <br><hr>
        <h3>Total a Pagar: ${{monto}}</h3>                            

    </div>

    <br>
    
        <button (click)="gotoProducts()" class="btn btn-primary">Volver a Productos</button>
        <button (click)="gotoPay()" class="btn btn-primary" style="margin-left: 5px">Pagar</button>


    

</div>

<br>

<app-footer></app-footer>